/* Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* fylder hele højden af viewporten */
  width: 100vw;      /* fylder hele bredden af viewporten */
  background-color: #f5f6fa;
}

.home-main {
  flex: 1;            /* fylder al resterende plads under header */
  display: flex;
  justify-content: center;
  align-items: center;
}
